pdfplumber
language_tool_python
pandas
matplotlib
py-readability-metrics
openpyxl
Jinja2
IPython
ipykernel
fpdf
spacy==3.5.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
keybert
tqdm
nltk
vaderSentiment
sentence_transformers
wordninja
langchain
# langchain_community
langchain-community
faiss-cpu
langchain-ollama
streamlit
pydantic




#used setup.py for "!python -m spacy download en_core_web_sm" which should be run in terminal post installation as a post-installation step